#wpcontent h3
{
	background:#f0f0f0;
	border: solid 1px #dfdfdf;
	margin: 25px 0 15px 0;
	padding: 8px .6em;
	display:block;
	color: #21759b;
	-webkit-border-radius: 3px;
}
.form-table
{
	margin-top: 15px;
}
.form-table th
{
	padding:13px;
}
#wpcontent tbody tr:nth-child(odd)
{
	background: #f7f7f7;
}
.error
{
	color:#900;
	padding:2px 10px;
	border:solid 1px #c00;
	margin-left:15px;
	background-color: #ffebe8;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display:none;
}
#test
{
	margin-right:10px;
}
